@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <a asp-controller="Purchase" asp-action="Index">Go to Purchases</a>
    <div class="img-container"><img src="~/img/1.png" /></div>
</div>
